[submodule "work/third_party/ttt-lm-pytorch"]
	path = work/third_party/ttt-lm-pytorch
	url = https://github.com/test-time-training/ttt-lm-pytorch.git
[submodule "work/third_party/pc-alm"]
	path = work/third_party/pc-alm
	url = https://github.com/SakanaAI/pc-alm.git
